 
.seccion1 {
    background-image: url(../assets/bgHeader.png) ;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center -120px;
}
.seccion1 h1{
    color: #ff8940;
    font-size: 100px;
    padding-top: 40px;
}
.seccion1 p{
    font-size: 40px;
    margin-top: -20px;
}
.seccion1 button{
    background-color: #ff8940;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    margin-top: 190px;
    font-size: 20px;
}

.seccion2{
   display: flex; 
   justify-content: space-around;
   margin-top: 190px;
   gap: 20px;
}

.seccion2 h3{
    color: #ff8940;
    font-size: 57px;
}
.seccion2 p{
    color:rgb(56, 45, 45);
    font-size: 25px;
}

.seccion2 button{
    background-color: #ff8940;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    margin-top: 50px;
    font-size: 20px;
}

.seccion3{
    display: flex; 
   justify-content: space-around;
   margin: 190px;
}
.seccion3 h4{
color: #ff8940;
font-size: 40px;
}
.seccion3 p{
    color:rgb(56, 45, 45);
    font-size: 25px;
}
.seccion3 button{
    background-color: #ff8940;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    margin-top: 50px;
    font-size: 20px;
}


.seccion4{
    background-image: url(../assets/bgDown.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    align-items: center;
    height: 60vh;
    padding: 100px 70px;

}

.seccion4 h2{
    color: #ff8940;
    font-size: 45px;
    padding-top: 100px;
    
}
.seccion4 p{
    color:rgb(56, 45, 45);
    font-size: 24px; 
}
.seccion4 div {
    margin: 295px;
    margin-left: 100px;

}
.seccion4 button{
    background-color: #ff8940;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    margin-top: 50px;
    font-size: 20px;
}

.seccion5{
    background-color:#ff8940 ;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    padding-top: 30px;
}

.seccion5 p{
    margin: 40px;
}
.seccion5 li{
    text-decoration: none;
    list-style:none;
}

footer{
    background-color: #ff8940;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    font-size: 15px;
    box-shadow: 10px 10px 30px 0px #ff6200;
    }



    @media (max-width:1279px){
    
    .seccion1{
    height: 101vh;
    width: 150%;
   }
   .seccion1 h1{
    font-size: 83px;
    margin-top: 1px;
   }

   .seccion1 p{
    font-size: 30px;
    margin-top: -25px;
   }

   .seccion1 button{
    padding: 18px 29px;
    margin-top: 80px;
    font-size: 18px;
   }




   .seccion2{
    margin-top: 126px;
   }

   .seccion2 div{
    margin-left: 113px;
   }

   .seccion2 img{
    margin-left: 450px;
   }
   

   .seccion2 h3{
    font-size: 25px;
   }

   .seccion2 p{
    font-size: 17px;
    
   }
   .seccion2 button{
    padding: 14px 29px;
    font-size: 17px;
   }




   .seccion3 h4{
    font-size: 32px;
   }

   .seccion3{
    justify-content: space-around;
   }

   .seccion3 p{
    font-size: 17px ;
   }

   .seccion3 button{
    padding: 14px 29px;
    font-size: 17px;
   }
   .seccion3 img{
    width: 400px;
    height: 650px;
    margin-right: 500px;
   }

   
}

@media(max-width:920px){

}